:root {
    --corVermelho: #BF3B3A;
    --corTitulo: #1B1B1B;
    --corTituloLinha: #B8B8B8;
    --corFonte: #777777;
    --corCinzaVirtu: #A8A9AD;
    --corLinhas: #ECECEC;
    --corFonteContato: #FFFFFF;
    --corSecaoSobrenos: #F8F8F8;
    overflow-x:hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

/*Começa a partir daqui o css responsável pela navbar (navbar-max) */

#navbar {
    display: flex;
    z-index: 10000;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    position: fixed !important;
    top:0;
    width: 100%;
    transition-duration: 500ms;
    -webkit-user-select: none;
}

#navbar-flex {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top:0;
    width: 90%;
    transition-duration: 500ms;
}

.hamburguer-icon{
    display: none;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--corCinzaVirtu);
    width: 22px;
    height: 32px;

}

#navbar .hamburguer-opcoes{
    display: none;
}

#navbar-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 500ms;
    padding-left: 40px;
}

#logovirtu {
    height: 110px;
    padding-top: 20px;
    width: auto;
    transition-duration: 500ms;
}

#sublogovirtu {
    height: 40px;
    width: 90px;
    transition-duration: 500ms;
}

#navbar-flex > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
}

#navbar li {
    padding-left: 15px;
    padding-right: 15px; 
    text-align: center;
}

#navbar a{
    text-decoration: none;
    list-style: none;
    color: var(--corCinzaVirtu);
    transition-duration: 0.2s;
}

#navbar-flex > ul > li > a:hover {
    color: var(--corVermelho);
}

#hamburguer-opcoes{
    list-style: none;
    margin: 0;
    padding: 0;
}

#hamburguer-opcoes > li{
    padding: 10px;
}

.navbar-redes-sociais {
    height: 20px;
    width: auto;
}

.navbar-redes-sociais:hover{
    cursor: pointer;
}

/*Termina aqui o css responsável pela navbar (navbar-max) */

#banner {
    height: 100vh;
    width: 100vw;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;  /*Deixar o titulo um pouco afastado da div anterior*/
    padding-bottom: 20px; /*Deixar o titulo um pouco afastado do conteúdo da div que ele está*/
}

.titulo-linha {
    background: var(--corTituloLinha);
    width: 100px; /* Tamanho padrão da linha sublinhada */
}

.titulo-contato { /* Titulo do contato*/
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    padding-top: 50px;  
    padding-bottom: 20px; 
}


.titulo-linha-contato { /* Linha vermelha do Contato */
    background: var(--corVermelho);
    width: 100px; 
}

.banner-fundo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('/static/image/Banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
    -webkit-clip-path: polygon(100% 0, 100% 92%, 46% 92%, 50% 100%, 54% 92%, 0 92%, 0 0);
    clip-path: polygon(100% 0, 100% 92%, 46% 92%, 50% 100%, 54% 92%, 0 92%, 0 0);
    width: 100vw;
    height: 100%;
 }

.banner-coluna1{
    width: 100%;
    height: 22vw;
    justify-content: center;
    display: flex;
  
}

.banner-coluna2{
    width: 100%;
    height: 10vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;

}

.banner-coluna3{
    width: 100%;
    height: 16vw;
    justify-content: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-coluna3 > a {
    height: 60px;
}

.banner-botao{

    width: 220px;
    height: 45px;
    background-color: #BF3B3A;
    display: flex;
    opacity: 0.9;
    color:white;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    vertical-align: 30px;
    border-radius: 3px;
    cursor:pointer;
}

.textobotao{
    font-size: 18px;
    display: flex;
    padding: 16px;
    color:white;
    opacity: 1;
}

.banner-seta{

    height: 60px;
    width: 60px;
    transform: rotate(90deg);
    align-self:center; 
    display: flex;
    color: white;
    fill: white;
    cursor: pointer;

}

/*Começa a partir daqui o css responsável pela div de serviços (serviços-max) */

#servico {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrossel {
    width: 80vw;    
    margin-bottom: 50px; /* Margem abaixo do carrossel para comportar os botões, pois caso contrário eles ficam ultrapassando a div */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Importante para deixar o card centralizado */
    justify-content: center; /* Importante para deixar o card centralizado */
}

.card-flex {
    transition: all 0.1s linear; /* Transição na hora que o hover é desativado */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 420px;
    box-shadow: 0 1px 1px 0 #ECECEC, 0 1px 5px 0 rgba(0, 0, 0, 0.19); /* Sombra do card */
    margin: 0 auto; 
}

.card-flex:hover {
    transition: all 0.1s linear; /* Tempo e tipo da transição ao ativar o hover */
    cursor: pointer; /* Transformar o cursor em ponteiro pois futuramente o card irá ser clicável */
    transform: scale(1.1); /* Aumentar o tamanho caso o cursor esteja em cima */
}

.card-img {
    background-image: url("/static/image/Documentação.jpg");
    height: 250px; /* Tamanho da imagem de fundo */
    width: 100%; /* Tamanho da imagem de fundo */
    background-size: cover; /* Escala na qual ela irá aparecer */
    background-position: center center; /* Centraliza a imagem no centro */
}

.card-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px; 
    width: 80%;
}

.card-titulo {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    width: 110%;
    height: 46px;
}

.card-linha {
    width: 100%;
    height: 1px;
    border-style: none; /* Tirar o estilo do hr para que fique uma linha realmente */
    background: var(--corLinhas);
}

.card-descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.8rem;
    text-align: center;
    margin: 0; /* Tirar a margem padrão da tag p */
    color: var(--corFonte);
    padding-bottom: 10px; /* Dar uma margem para o texto se afastar do fundo do card, seguindo o mockup */
}

#carrossel .slick-list.draggable {
    width: 70vw; /* Margem menor que as outras para as setas ficarem dentro da margem */
    margin: 0 auto; 
}

.card.slick-slide{ 
    display: flex; /* Alinhar card no centro */
    flex-direction: column; /* Alinhar card no centro */
    align-items: center; /* Alinhar card no centro */
    height: 470px; /* Tamanho maior que o card para dar espaço durante o aumento do scale (com o hover) */
    margin: 0 auto;
}

#carrossel .slick-next.slick-arrow::before, #carrossel .slick-prev.slick-arrow::before{ 
    color: transparent; /* Deixar o botão padrão transparente */
    width: 40px; /* Aumentar a área clicável do botão */
    height: 40px; /* Aumentar a área clicável do botão */
}

#carrossel .slick-prev.slick-arrow{
    width: 40px; 
    height: 40px;
    background: url("/static/icons/Prev.svg"); /* Ícone da seta anterior */
    background-size: cover; /* Disposição do background igual o tamanho do botão */
    margin-left: 10px; /* Deixar o botão mais próximo a margem */
    transition: all 0.3s linear;
}

#carrossel .slick-prev.slick-arrow:hover{
    transition: all 0.3s linear; /* Tempo e tipo da transição ao ativar o hover */
    background: url("/static/icons/PrevHover.svg"); /* Ícone da seta anterior */
}

#carrossel .slick-prev.slick-arrow.slick-disabled:hover{
    background: url("/static/icons/Prev.svg"); /* Ícone da seta anterior */
    cursor: auto;
}

#carrossel .slick-next.slick-arrow.slick-disabled:hover{
    background: url("/static/icons/Next.svg"); /* Ícone da seta anterior */
    cursor: auto;
}

#carrossel .slick-next.slick-arrow{
    width: 40px;
    height: 40px;
    background: url("/static/icons/Next.svg"); /* Ícone da próxima seta */
    background-size: cover; /* Disposição do background igual o tamanho do botão */
    margin-right: 10px; /* Deixar o botão mais próximo a margem */
    transition: all 0.3s linear;
}

#carrossel .slick-next.slick-arrow:hover{
    transition: all 0.3s linear; /* Tempo e tipo da transição ao ativar o hover */
    background: url("/static/icons/NextHover.svg"); /* Ícone da seta anterior */
}

.dots-css li button {
    transition: all 0.4s linear; /* Tempo e tipo da transição ao ativar o hover */
    background-color: #A8A9AD;
    height: 2px;
    padding: 0;
    margin-top: 17px;
    width: 24px;
}

.slick-active button:before {
    transition: all 0.4s linear; /* Tempo e tipo da transição ao ativar o hover */
    background-color: var(--corVermelho);
    width: 24px;
    color: transparent !important;
    opacity: 1 !important;
}

.slick-dots li button:before {
    width: 24px;
    color: transparent !important;
    height: 4px;
    margin-top: 16px;
}

.slick-slide {
    outline: none !important;
}

/* Termina aqui o css responsável pela div de serviços  */

#sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--corSecaoSobrenos);
    width: 100vw; /* Necessário para aplicar a background-color na seção inteira */
}

#mvv {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap; /* Quebrar itens, responsividade */
    align-items: center;
    width: 80%; /* Necessário pois a div pai não segue a margem padrão (80vw) devido a cor de fundo */
}

.mvv-flex {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 260px; 
    width: 33%; /* Para comportar as 3 divs dentro da classe e tornar elas responsivas */
}

#mvv-visao{
    border-left: 1px solid var(--corLinhas); /* Barra lateral esquerda */
    border-right: 1px solid var(--corLinhas); /* Barra lateral direita */
}

.mvv-img {
    height: 50px;
    width: 50px;
    padding-top: 10px;
}

.mvv-titulo {
    color: var(--corVermelho);
    font-size: 1.5rem;
}

.mvv-linha {
    background: var(--corLinhas);
    height: 1px;
    width: 40%;
}

.mvv-descricao { 
    text-align: center;
    height: 100px; /* Padronizar o tamanho do texto */
    width: 80%;
    color: var(--corFonte);
    font-size: 0.9rem;
}

#nossa-historia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Quebrar a formação de linha, responsividade */
    width: 80%; /* Necessário pois a div pai não segue a margem padrão (80vw) devido a cor de fundo */
    padding-top: 30px; /* Separar as divs nossa história da div mvv */
    padding-bottom: 30px;
}

#nossa-historia-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%; /* Conteúdo ocupa metade da div e muda de acordo com o tamanho da div, responsividade */
}

#nossa-historia-titulo {
    color: var(--corTitulo);
    font-size: 1.4rem;
    padding-bottom: 20px; /* Separar o nome "nossa história" do texto */
}

#nossa-historia-descricao {
    width: 85%;
    color: var(--corFonte);
}

#nossa-historia-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 49%; /* Conteúdo ocupa metade da div e muda de acordo com o tamanho da div, responsividade */
}

#nossa-historia-img > img {
    height: 260px; 
    width: auto; /* Largura acompanha o tamanho */
}


/* contato aqui */


.coluna-contato{ /* Imagem de fundo do contato */
    background-size: cover; /* Alinha a imagem na tela */
    background-position: center center; /* Centraliza a imagem no centro */
}



input[type=text] { /* Configuracoes do input do form do contato*/
    margin-top:7px;
    margin-bottom:7px;
    width: 50%; /*Coloca o form com metade da div*/
    padding-right:12px;
    padding-top: 12px;
    padding-bottom: 10px;
    border-right: none;
    border-bottom:solid 1.5px var(--corVermelho);
    color:white;
    background-color: transparent;
    border-top:none; /* Tira as bordas default do form*/
    border-left:none;
    justify-content: center;
}


input#id_nome{ /* input nome no form com tamanha 22% para poder ficar de lado do input telefone*/
    width: 22%;
    
    color:white;
}


input#id_telefone{ /* input telefone no form com tamanho 22% para poder ficar de lado do input nome*/
    width: 22%;
    margin-left: 4.3%;
}

input::placeholder{ /* Coloca o placeholder com cor branca do input*/
    color:white;
}

textarea::placeholder{ /* Coloca o placeholder com cor branca na area de texto(mensagem)*/
    color:white;
}
    
option{ /* ajusta as configuracoes das opcoes do select*/
    background: gray;
    color:white;
    
}

input#id_mensagem{ /* input telefone no form com tamanho 22% para poder ficar de lado do input nome*/
    width: 50%;
    height: 30vh;
    word-break: break-word;
    -webkit-appearance: textarea;
}


textarea{ /* Ajusta as configuracoes da area de texto ( mensagem)*/
    width: 50%;
    padding-bottom: 10px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: -50px;
    margin-top:7px;
    margin-bottom:7px;
    border-bottom:solid 1.5px var(--corVermelho);
    color:white;
    background-color: transparent;
    border-top:none;
    border-left:none;
    border-right: none;
    justify-content: center;
    resize: none;
    -webkit-appearance: none;
}
    
input[type=submit] { /* Ajusta as configuracoes do botao*/
    width: 140px;
    background-color: var(--corVermelho);
    color: white;
    padding: 12px 6px;
    margin: 8px;
    font-size: 20px;
    cursor: pointer;
    justify-content: right;
    border: 0px;
    margin-bottom: 60px;
    border-radius: 3px;
}
    
    
    
#contatos{ /* Define o tamanho da div contato*/
    width: 100vw;
}
    
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border-bottom:solid 1.5px var(--corCinzaVirtu);
    outline: 0;
}  

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 200px var(--corCinzaVirtu) inset;
}

ul.errorlist{ /* muda a cor quando dar erro */
    color: var(--corVermelho);
}
    
select{ /* Ajusta as configuraçoes do select(opcoes)*/
    width: 51.2%; /* Tamanho do select um pouco maior para poder ajustar com os outros inputs*/
    padding-bottom: 10px;
    padding-top: 12px;
    padding-right: 12px;
    margin-top:7px;
    margin-bottom:7px;
    border-bottom:solid 1.5px var(--corVermelho);
    color:white;
    background-color: transparent;
    border-top:none;
    border-left:none;
    border-right: none;
    justify-content: center;
    appearance: none;
}
    
    
form { /* Configuraçoes do formulario*/
    width: 80vw;
    text-align: right; /* Alinha a direita o formulario*/
    padding-right: 10%; /* espacamento */
    padding-left: 10%;
}

/* termina aqui o contato*/
/* começa aqui o footer*/

#footer {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100vw; /*Footer precisa ocupar toda a tela devido a cor de fundo*/
    background-color: var(--corTitulo); 
}

#footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 80%; /*necessário pois os elementos do footer ainda precisam obedecer a margem padrão*/
}

#footer-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-img > img {
    height: 150px; 
    width: auto; /*Não modificar a dimensão padrão da imagem*/
}

#footer-redes-sociais, #footer-contatos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100px; /*Definir uma altura padrão, para o tamahho da borda ficar igual nos dois*/
    padding-left: 10px; /*Separar conteúdo da borda*/
    border-left: 1.5px solid var(--corCinzaVirtu); /*Borda cinza padrão em abos*/
    color: var(--corCinzaVirtu);
}

.footer-redes-sociais-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-redes-sociais-flex:hover {
    cursor: pointer;  /*Necessário pois são divs clicáveis* (clique definido via jquery)*/
}

.footer-redes-sociais-flex > img {
    height: 25px; /*Tamanho de imagem padrão para os ícones de redes sociais*/
    width: 25px; /*Tamanho de imagem padrão para os ícones de redes sociais*/
    padding-right: 10px; /*Separar texto da imagem*/
}

.footer-redes-sociais-descricao > p {
    font-size: 0.6rem;
}

.footer-contatos-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-contatos-flex:hover {
    cursor: auto; /*Ao passar o mouse por cima põe o cursor de texto, indicando que é possível copiar os dados*/
}

#footer-facebook, #footer-instagram, #footer-map {
    cursor: pointer;
    -webkit-user-select: none; /*Deixa desabilitado a cópia, pois estas divs são botões que levam direto ao site*/
}

.footer-contatos-flex > img {
    height: 20px;  /*Tamanho de imagem padrão para os ícones de contatos*/
    width: 20px; /*Tamanho de imagem padrão para os ícones de contatos*/
    padding-right: 10px; /*Separar texto da imagem*/
}

.footer-contatos-flex > h5 {
    width: 185px;
}

#map {
    height: 82%;
    width: 100%;
    display: none; 
}

#footer-map:hover + #map{
    display: block; /*Mapa do google aparece apenas quando é detectado hover na div de endereço*/
}

#footer-map:hover ~ .footer-contatos-flex{
    display: none; /*Ao detectar hover no endereço, desativa as proximas divs "footer-contatos-flex"*/
}

#map:hover {
    display: block; /*Necessario para deixar o mapa aparecendo enquanto o usuário mexe*/
}

#map:hover ~ .footer-contatos-flex{
    display: none;  /*Ao detectar hover no mapa, desativa as proximas divs "footer-contatos-flex"*/
}

#map:hover div{
    display: block;
}

#emailErro {
    font-size: 18px;
    color: var(--corVermelho);
    font-weight: bolder;
    
}

hr {
    height: 1px;
    border-style: none; /* Retirar o style padrão do hr para se parecer uma linha simples */
}

h3 {
    margin: 0; /* Tirar margem padrão do h3 */
    font-weight: 400;
}

h1 {
    margin: 0; /* Tirar margem padrão do h1 */
    font-weight: 400;
    font-size: 1.8rem;
}

h5 {
    margin: 0;
    font-weight: 400;
    font-size: 0.7rem;
}

p {
    margin: 0; /* Tirar margem padrão do p */
}

a {
    text-decoration: none;
    color: white;
}

#depoimentos {
    width: 100%;   
}

#carrossel-depoimentos {
    height: 260px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.card-depoimento {
    height: 250px;
    margin: 0 30px 20px 30px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 #ECECEC, 0 2px 5px 0 rgba(0, 0, 0, 0.19); /* Sombra do card */
    margin-bottom: 50px;
}

#carrossel-depoimentos .slick-list {
    padding:0 20% 0 20%;
}

.img-depoimento {
    background-size: cover;
    margin-bottom: -5px;
    height: 100%; /* Tamanho da imagem de fundo */
    width: 49.9%; /* Tamanho da imagem de fundo */
}

.conteudo-depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49.9%;
    height: 100%;
}

.texto-depoimento {
    height: 300px;
    width: 90%;
    text-align: center;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

#carrossel-depoimentos .slick-next.slick-arrow::before, #carrossel-depoimentos .slick-prev.slick-arrow::before{ 
    color: transparent; /* Deixar o botão padrão transparente */
    width: 40px; /* Aumentar a área clicável do botão */
    height: 40px; /* Aumentar a área clicável do botão */
}

#carrossel-depoimentos .slick-prev.slick-arrow{
    transition: all 0.3s linear; /* Tempo e tipo da transição ao ativar o hover */
    width: 20px; 
    height: 20px;
    background: url("/static/icons/Prev.svg"); /* Ícone da seta anterior */
    background-size: 20px; /* Disposição do background igual o tamanho do botão */
    margin-left: 47%; /* Deixar o botão mais próximo a margem */
    margin-top: 152px;
    z-index: 6;
}

#carrossel-depoimentos .slick-prev.slick-arrow:hover{
    background: url("/static/icons/PrevHover.svg"); /* Ícone da seta anterior */
    transition: all 0.3s linear;
}

#carrossel-depoimentos .slick-next.slick-arrow{
    transition: all 0.3s linear; /* Tempo e tipo da transição ao ativar o hover */
    width: 20px;
    height: 20px;
    background: url("/static/icons/Next.svg"); /* Ícone da próxima seta */
    background-size: 20px; /* Disposição do background igual o tamanho do botão */
    margin-right: 47%; /* Deixar o botão mais próximo a margem */
    margin-top: 152px;
    z-index: 6;
}

#carrossel-depoimentos .slick-next.slick-arrow:hover{
    background: url("/static/icons/NextHover.svg"); /* Ícone da seta anterior */
    transition: all 0.3s linear;
}

#depoimentos .slick-dots .dots-css{
    bottom: -50px;
}

#carrossel-depoimentos .slick-list .draggable {
    width: 50vw; /* Margem menor que as outras para as setas ficarem dentro da margem */
    margin: 0 auto;
}

.inner-texto-depoimento{
    color: var(--corFonte);
    font-size: 0.85rem;
    margin-bottom: 10px;
    width:100%;
}

.quotes-depoimento img {
    height: 60px;
    width: 35px;
}

.nome-depoimento {
    color: var(--corVermelho);
    font-weight: bolder;
    font-size: 1rem;
}

@media(max-width:1400px){

    .inner-texto-depoimento{
    font-size: 0.8rem;
    margin-bottom: 5px;
    }

}

@media(max-width:1330px){
    .inner-texto-depoimento{
        font-size: 0.75rem;
    }
}

@media(max-width:1200px){

    .banner-fundo{
        background-size: 120%;
    }

    /* Começa a partir daqui o css responsável pela div de serviços (serviços-1200) */

    .card-flex {
        width: 210px; /* Diminuir a largura para se adequar a página */
        height: 380px; /* Diminuir a altura para se adequar a página */
    }

    .card-titulo{
        font-size: 1.1rem;
        
    }

    .card-descricao {
        font-size: 0.7rem; 
    }

    .card-img {
        height: 210px; /* Diminuir a altura para se adequar a página */
        width: 100%;
        background-size: cover;
    }

    .card.slick-slide{
        height: 430px; /* Diminuir a altura para se adequar a página */
    }

    /* Termina aqui o css responsável pela div de serviços */

    #carrossel-depoimentos {
        height: 280px;
    }

    #carrossel-depoimentos .slick-prev.slick-arrow{
        margin-left: 46%; /* Deixar o botão mais próximo a margem */
        margin-top: 160px;
    }

    #carrossel-depoimentos .slick-next.slick-arrow{
        margin-right: 46%; /* Deixar o botão mais próximo a margem */
        margin-top: 160px;
    }

    .card-depoimento {
        height: 280px;
    }
    
    .img-depoimento {
        width: 49.9%; /* Tamanho da imagem de fundo */
    }

    .texto-depoimento {
        height: 260px;
        font-size: 0.9rem;
    }

    .quotes-depoimento {
        height: 55px;
        width: 32px;
    }

    .nome-depoimento {
        font-size: 0.95rem;
    }

    select{
        width: 51.7%;
    }
    
    textarea{
        width: 49.7%;
    }
}

@media(max-width: 1100px){
    
    #carrossel-depoimentos {
        height: 270px;
    }

    #carrossel-depoimentos .slick-prev.slick-arrow{
        margin-left: 46%; /* Deixar o botão mais próximo a margem */
        margin-top: 155px;
    }

    #carrossel-depoimentos .slick-next.slick-arrow{
        margin-right: 46%; /* Deixar o botão mais próximo a margem */
        margin-top: 155px;
    }

    .card-depoimento {
        height: 270px;
    }
    
    .img-depoimento {
        height: 100%; /* Tamanho da imagem de fundo */
        width: 49.9%; /* Tamanho da imagem de fundo */
        background-size: cover;
    }

    .texto-depoimento {
        height: 260px;
        font-size: 0.85rem;
    }

    .quotes-depoimento {
        height: 55px;
        width: 32px;
    }
    
    .nome-depoimento {
        font-size: 0.9rem;
    }

    .coluna-contato{
        background-size: cover;
    }

    textarea{
        width: 49.8%;
    }
}

@media(max-width: 1000px) {

    .banner-fundo {
        -webkit-clip-path: polygon(100% 0, 100% 92%, 42% 92%, 50% 100%, 62% 92%, 0 92%, 0 0);
        clip-path: polygon(100% 0, 100% 92%, 42% 92%, 50% 100%, 58% 92%, 0 92%, 0 0);
    }

    /* Começa a partir daqui o css responsável pela div de serviços (serviços-1000) */

    #carrossel {
        width: 90vw; /* Diminui a margem da página partir deste tamanho */
    }

    #carrossel .slick-next.slick-arrow{
        margin-right: 20px; /* Aumentar a margem direita para se adequar a nova margem do site */
    }

    #carrossel .slick-prev.slick-arrow{
        margin-left: 20px; /* Aumentar a margem direita para se adequar a nova margem do site */
    }
    
    /* Termina aqui o css responsável pela div de serviços */

    #mvv {
        width: 90%; /* Diminui a margem da página partir deste tamanho */
    }

    #nossa-historia {
        width: 90%; /* Diminui a margem da página partir deste tamanho */
    }

    .mvv-flex {
        height: 270px; /* Aumenta um pouco o tamanho devido ao texto que perde espaço lateral */
    }

    .mvv-descricao {
        height: 110px; /* Aumenta um pouco o tamanho devido ao texto que perde espaço lateral */
    }

    #nossa-historia-img > img {
        height: 240px; /* Diminui o tamanho da imagem para se adequar ao tamanho da página */
    }

    #footer-flex{
        width: 90%;
    }

    .coluna-contato{
        background-size: cover; /* Ajusta a imagem de fundo*/
    }
    
    #carrossel-depoimentos {
        height: 255px;
    }

    #carrossel-depoimentos .slick-prev.slick-arrow{
        margin-left: 45%; /* Deixar o botão mais próximo a margem */
        margin-top: 150px;
    }

    #carrossel-depoimentos .slick-next.slick-arrow{
        margin-right: 45%; /* Deixar o botão mais próximo a margem */
        margin-top: 150px;
    }

    .card-depoimento {
        height: 255px;
    }
    
    .img-depoimento {
        height: 255px; /* Tamanho da imagem de fundo */
        width: 49.9%; /* Tamanho da imagem de fundo */
        background-size: cover;
    }

    .texto-depoimento {
        height: 260px;
        font-size: 0.80rem;
    }
    
    .nome-depoimento {
        font-size: 0.85rem;
    }

    input#id_telefone{ 
       
        margin-left: 4%;
    }
    select{ /* Ajusta o seletct para ocupar 80% da tela*/
        width: 51.8%;
    }

    .inner-texto-depoimento {
        font-size: 0.75rem;
    }
}

@media(max-width: 970px) {
    .inner-texto-depoimento {
    font-size: 0.8rem;
    }
}

@media(max-width: 930px){
    #carrossel-depoimentos {
        height: 240px;
    }

    #carrossel-depoimentos .slick-prev.slick-arrow{
        margin-left: 45%; /* Deixar o botão mais próximo a margem */
        margin-top: 142px;
    }

    #carrossel-depoimentos .slick-next.slick-arrow{
        margin-right: 45%; /* Deixar o botão mais próximo a margem */
        margin-top: 142px;
    }

    .card-depoimento {
        height: 240px;
    }
    
    .img-depoimento {
        height: 49.9%; /* Tamanho da imagem de fundo */
        width: 49.9%;
        background-size: cover;
    }

    .texto-depoimento {
        height: 230px;
        font-size: 0.75rem;
    }
    
    .nome-depoimento {
        font-size: 0.8rem;
    }
}

@media(max-width: 900px){

    .banner-fundo{
        background-size: 170%;
    }

    #mvv {
        justify-content: center; /* Centralizar o conteúdo pois o card de valores desce */
    }

    .mvv-flex {
        width: 270px; 
    }

    #mvv-visao {
        border-right: 0; /* Tirar a borda lateral pois a partir deste ponto o card de valores desce */
    }

    .banner-coluna1 {
        height: 29.5vw;
    }

    .banner-coluna2 {
        height: 15vw;
    }

    .banner-coluna3 {
        height: 22.5vw;
    }

    .banner-botao{
        width: 207px;
        height: 45px;
        
    }

    .textobotao {
        padding-top: 14px;
    }

    input#id_telefone{
      
        margin-left: 3.8%;
    }
    textarea{
        width: 49.7%;
    }

}

@media(max-width: 880px){
    #carrossel-depoimentos {
        height: 350px;
    }
    
    .card-depoimento {
        height: 350px;
        margin: 0 30px 20px 30px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1px 1px 0 #ECECEC, 0 2px 5px 0 rgba(0, 0, 0, 0.19); /* Sombra do card */
    
    }
    
    #carrossel-depoimentos .slick-list {
        padding:0 15% 0 15%;    
    }
    
    #carrossel-depoimentos .slick-prev.slick-arrow{
        margin-left: 45%; /* Deixar o botão mais próximo a margem */
        margin-top: 195px;
    }

    #carrossel-depoimentos .slick-next.slick-arrow{
        margin-right: 45%; /* Deixar o botão mais próximo a margem */
        margin-top: 195px;
    }

    .img-depoimento {
        height: 100%; /* Tamanho da imagem de fundo */
        width: 280px; /* Tamanho da imagem de fundo */
    }
    
    .conteudo-depoimento {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    
    .texto-depoimento {
        height: 300px;
        width: 100%;
        text-align: center;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
        font-size: 0.7rem;
    }
    
    .quotes-depoimento img {
        height: 60px;
        width: 35px;
    }
    
    .nome-depoimento {
        color: var(--corVermelho);
        font-weight: bolder;
        font-size: 1rem;
    }
}

@media(max-width: 850px){

    /* Começa a partir daqui o css responsável pela navbar (navbar-850) */

    #navbar-img {
        padding-left: 0;
    }

    #navbar-flex {
        justify-content: center;
    }

    #navbar .navbar-opcoes {
        display: none;
    }

     /* Termina aqui o css responsável pela navbar (navbar-850) */

    #nossa-historia {
        flex-direction: column;
        align-items: center;
        padding-top: 30px; /* Diminuir o padding de cima pois agrora a disposição do texto mudou */
        padding-bottom: 0; /* Tirar o padding de baixo pois agora a disposição da imagem mudou */
    }

    #nossa-historia-texto {
        width: 100%; /* Mudando a disposição do conteúdo */
        padding-bottom: 20px; /* Separando nossa história texto de nossa história img */
    }

    #nossa-historia-descricao {
        text-align: center; 
    }

    #nossa-historia-img {
        width: 100vw; /* Preparando div para mudança de disposição da imagem */
        height: auto; /* Preparando div para mudança de disposição da imagem */
        padding: 0; 
    }

    #nossa-historia-img > img {
        width: 100vw; /* Mudando disposição da imagem */
        height: auto; /* Mudando disposição da imagem */
    }

    #footer-flex {
        flex-direction: column;
        justify-content: center;
    }

    #footer-img > img {
        width: 150px;
        height: auto;
    }

    #footer-redes-sociais {
        border: 0;
        padding: 0;
        padding-bottom: 20px;
        width: 256.5px;
        height: 70px;
        align-items: center;
    }

    .footer-redes-sociais-flex {
        width: 220px;
        justify-content: flex-start;
    }

    .footer-redes-sociais-descricao > h5 {
        display: none;
    }

    .footer-redes-sociais-descricao > p {
        font-size: 0.7rem;
    }

    .footer-redes-sociais-flex > img{
        width: 20px;
        height: 20px;
        padding-right: 15px;
    }

    .inner-texto-depoimento {
        width: 100%;
    }

    #footer-contatos{
        height: 130px;
        width: 256.5px;
        align-items: center;
        border:0;
        padding: 0;
        padding-bottom: 50px;
    }

    .footer-contatos-flex {
        width: 220px;
    }

    form {
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
    }
   
    input[type=submit] {
        float: none;
    }

    .coluna-contato{ /* Ajusta a imagem de fundo*/
        background-size: cover;
        background-position-x: 1px;
    }

    input#id_nome{ /* Ajusta o input de nome para ocupar 80% da tela*/
        width: 80%;
        margin-right: 0%;
        color:white;
    }

    input[type=text] { /* Ajusta os inputs para ocupar 80% da tela*/
        width: 80%;
    }
 
    input#id_telefone{ /* Ajusta o input de telefone para ocupar 80% da tela*/
        width: 80%;
        margin-left: 0%;
    }

    textarea{ /* Ajusta o input de texto(mensagem) para ocupar 80% da tela*/
        width: 80%;
    }

    select{ /* Ajusta o seletct para ocupar 80% da tela*/
        width: 82%;
    }

    input[type=submit] {     /*Coloca o botao com uma margem para dar um espacemento na parte de baixo*/
        margin-top: 50px;
    }
}

@media(max-width: 700px){
    .inner-texto-depoimento {
        font-size: 0.75rem;
    }

    .nome-depoimento {
        font-size: 0.85rem;
    }

    #carrossel-depoimentos {
        height: 390px;
    }
    
    #carrossel-depoimentos .slick-prev.slick-arrow{
        margin-left: 44%; /* Deixar o botão mais próximo a margem */
        margin-top: 217px;
    }

    #carrossel-depoimentos .slick-next.slick-arrow{
        margin-right: 44%; /* Deixar o botão mais próximo a margem */
        margin-top: 217px;
    }

    .card-depoimento {
        height: 390px;
        margin: 0 30px 20px 30px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1px 1px 0 #ECECEC, 0 2px 5px 0 rgba(0, 0, 0, 0.19); /* Sombra do card */
    }
}

@media(max-width: 600px){

    .banner-fundo {
        background-size: cover;
    }

    .mvv-flex{
        width: 80%; /* Deixar a largura do mvv-flex mudar de acordo com a largura da página */
    }

    .mvv-descricao{
        width: 100%; /* largura do texto muda de acordo com a largura da página */
    }

    #mvv-visao {
        border: 0; /* Tirar qualquer borda do mvv visão pois a disposição é agora em coluna */
    }

    .banner-coluna1{

        height: 35vw;
    }

    .banner-coluna2 {
        height: 17vw;
    }

    .banner-coluna3 {
        height: 40vw;
    }

    .coluna-contato{ /* Ajusta a imagem de fundo*/
        background-size: cover;
        background-position-x: -350px;
    }

    #carrossel-depoimentos .slick-prev.slick-arrow{
        margin-left: 43%; /* Deixar o botão mais próximo a margem */
        margin-top: 217px;
    }

    #carrossel-depoimentos .slick-next.slick-arrow{
        margin-right: 43%; /* Deixar o botão mais próximo a margem */
        margin-top: 217px;
    }

    .inner-texto-depoimento {
        font-size: 0.75rem;
    }

    textarea{
        width: 49.7%;
    }
}

@media(max-width: 520px){
    .inner-texto-depoimento {
        font-size: 0.72rem;
    }

    textarea{
        width: 78.5%;
    }
}

@media(max-width: 470px){

    #logovirtu {
        height: 80px;
        padding-top: 10px;
    }

    .banner-fundo {
        -webkit-clip-path: polygon(100% 0, 100% 92%, 42% 92%, 50% 100%, 62% 92%, 0 92%, 0 0);
        clip-path: polygon(100% 0, 100% 92%, 38% 92%, 50% 100%, 62% 92%, 0 92%, 0 0);
    }

    .banner-coluna1 {
        height: 58vw;
    }

    .banner-coluna2 {
        height: 24vw;

    }

    .banner-coluna3 {
        height: 43vw;
    }

    .banner-seta:hover {
        margin-top:0px;
    }

    .img-depoimento {
        width: 100%; /* Tamanho da imagem de fundo */
        height: 200px;
    }

    .inner-texto-depoimento, .texto-depoimento, .conteudo-depoimento {
        width: 100%;
    }

    .inner-texto-depoimento {
        font-size: 0.8rem;
        max-width: 80%;
        min-width: 80%;
    }

    .nome-depoimento {
        font-size: 0.8rem;
    }

    #carrossel-depoimentos {
        height: 420px;
    }
    
    #carrossel-depoimentos .slick-prev.slick-arrow{
        margin-left: 40%; /* Deixar o botão mais próximo a margem */
        margin-top: 230px;
    }

    #carrossel-depoimentos .slick-next.slick-arrow{
        margin-right: 40%; /* Deixar o botão mais próximo a margem */
        margin-top: 230px;
    }

    .card-depoimento {
        height: 420px;
        margin: 0 30px 20px 30px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1px 1px 0 #ECECEC, 0 2px 5px 0 rgba(0, 0, 0, 0.19); /* Sombra do card */
    }
}

@media(max-width: 350px){

    .inner-texto-depoimento {
        font-size: 0.7rem;
    }

    .card-flex:hover {
        transition: none; 
        transform: none;
    }

    .coluna-contato{ /* Ajusta a imagem de fundo*/
        background-size: 420%;
        background-position-x: -250px;
        background-position-y: 20px;
    }

    textarea{
        width: 78%;
    }

}

@media(min-height: 800px){
    #banner {
        height: 800px;
    }

    .banner-fundo {
        background-size: cover;
        height: 800px;
        -webkit-clip-path: polygon(100% 0, 100% 95%, 45% 95%, 50% 100%, 55% 95%, 0 95%, 0 0);
        clip-path: polygon(100% 0, 100% 95%, 45% 95%, 50% 100%, 55% 95%, 0 95%, 0 0);
    }
}

@media (min-height: 750px) and (min-width: 601px){
    .banner-fundo {
        background-size: cover;
    }
}