:root {
    --corVermelho: #BF3B3A;
    --corTitulo: #1B1B1B;
    --corTituloLinha: #B8B8B8;
    --corFonte: #777777;
    --corCinzaVirtu: #A8A9AD;
    --corLinhas: #ECECEC;
    --corFonteContato: #FFFFFF;
    --corSecaoSobrenos: #F8F8F8;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.titulo {
    padding-top: 50px;
    padding-bottom: 20px;
}


.titulo-linha{
    background: var(--corTituloLinha);
    width: 100px;
}

#carrossel{
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 50px;
}

#servico{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 460px;
}

.card-flex{
    transition: all 0.1s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 460px;
    box-shadow: 0 1px 1px 0 #ECECEC, 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
}

.card-flex:hover {
    transition: all 0.1s linear;
    cursor: pointer;
    transform: scale(1.1);
}

.card-img{
    background-image: url("/static/image/Documentação.jpg");
    height: 300px;
    width: 250px;
    background-size: 300px;
}

.card-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 200px;
    width: 80%;
}

.card-titulo{
    font-size: 1.5rem;

}

.card-linha{
    width: 100%;
    height: 1px;
    border-style: none;
    background: var(--corLinhas);
}

.card-descricao{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    color: var(--corFonte);
    padding-bottom: 15px;
}


.slick-list.draggable{
    width: 70vw;
    margin: 0 auto;
}

.card.slick-slide.slick-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 520px;
    width: 350px;
    margin: 0 auto;
}

.card.slick-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 520px;
    width: 305px;
    margin: 0 auto;
}

.slick-next.slick-arrow::before, .slick-prev.slick-arrow::before{
    color: transparent;
    width: 40px;
    height: 40px;
}

.slick-prev.slick-arrow{
    width: 40px;
    height: 40px;
    background: url("/static/icons/Seta.svg");
    background-size: 40px;
    margin-left: 10px;
}

.slick-next.slick-arrow{
    width: 40px;
    height: 40px;
    background: url("/static/icons/Next.svg");
    background-size: 40px;
    margin-right: 10px;
}

.dots-css li button {
    background-color: #A8A9AD;
    height: 2px;
    padding: 0;
    margin-top: 17px;
    width: 24px;
}

.slick-active button:before {
    background-color: var(--corVermelho);
    width: 24px;
    color: transparent !important;
    opacity: 1 !important;
}

.slick-dots li button:before {
    width: 24px;
    color: transparent !important;
    height: 4px;
    margin-top: 16px;
}

.slick-slide {
    outline: none !important;
}

#sobre-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--corSecaoSobrenos);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#mvv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
}

.mvv-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 260px;
    width: 33%;
}

#mvv-visao{
    border-left: 1px solid var(--corLinhas);
    border-right: 1px solid var(--corLinhas);
}

.mvv-img {
    height: 50px;
    width: 50px;
    padding-top: 10px;
}

.mvv-titulo{
    color: var(--corVermelho);
    font-size: 1.5rem;
}

.mvv-linha{
    background: var(--corLinhas);
    height: 1px;
    width: 40%;
}

.mvv-descricao { 
    text-align: center;
    height: 120px;
    width: 80%;
    color: var(--corFonte);
}

#nossa-historia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 60px;
}

#nossa-historia-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;
}

#nossa-historia-titulo{
    color: var(--corTitulo);
    font-size: 1.4rem;
    padding-bottom: 20px;
}

#nossa-historia-descricao{
    width: 85%;
    color: var(--corFonte);
}

#nossa-historia-img{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 49%;
}

#nossa-historia-img > img{
    height: 260px;
    width: auto;
}

hr {
    height: 1px;
    border-style: none;
}

h3 {
    margin: 0;
    font-weight: 400;
}

h1 {
    margin: 0;
    font-weight: 400;
    font-size: 1.8rem;
}

p {
    margin: 0;
}

@media(max-width:1200px){
    .card-flex {
        width: 225px;
        height: 400px;
    }

    .card-descricao {
        font-size: 0.7rem;
    }

    .card-img {
        height: 300px;
        width: 225px;
        background-size: 280px;
    }

    .card.slick-slide.slick-active{
        height: 450px;
    }

    .card.slick-slide{
        height: 450px;
        
    }
}

@media(max-width: 1000px){
    #carrossel{
        width: 90vw;
    }

    #mvv {
        width: 90%;
    }

    #nossa-historia {
        width: 90%;
    }

    .mvv-flex {
        height: 270px;
    }

    .mvv-descricao {
        height: 130px;
    }

    #nossa-historia-img > img{
        height: 240px;
    }
}

@media(max-width: 900px){
    #mvv{
        justify-content: center;
    }

    .mvv-flex {
        width: 270px; 
    }

    #mvv-visao{
        border-right: 0;
    }
}

@media(max-width: 850px){

    #nossa-historia {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    #nossa-historia-texto {
        width: 100%;
        padding-bottom: 20px;
    }

    #nossa-historia-descricao {
        text-align: center;
    }

    #nossa-historia-img {
        width: 100vw;
        height: auto;
        padding: 0;
    }

    #nossa-historia-img > img {
        width: 100vw;
        height: auto;
    }
}

@media(max-width: 600px){

    .mvv-flex{
        width: 80%;
    }

    .mvv-descricao{
        width: 100%;
    }

    #mvv-visao{
        border: 0;
    }
}

@media(max-width: 350px){

    .card-flex {
        width: 220px;
        height: 395px;
    }

    .card-descricao {
        font-size: 0.7rem;
    }

    .card-img {
        height: 300px;
        width: 220px;
        background-size: 280px;
    }

    .card-flex:hover {
        transition: none;
        cursor: pointer;
        transform: none;
    }

}