{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery-mask/src/jquery.mask.js' %}"></script>
    <title>Virtù Consultoria</title>
</head>

<body>
    <div id="main">
        <nav id="navbar">
            <div id="navbar-flex">
                <div id="navbar-img">
                    <img src="{% static 'image/Logo.png' %}" id="logovirtu">
                    <img src="{% static 'image/SubLogo.png' %}" id="sublogovirtu">
                </div>
                <ul class="navbar-opcoes">
                    <li>
                        <a href="#servico" id="navbar-a-servico">Serviços</a>
                    </li>
                    <li>
                        <a href="#sobre-nos" id="navbar-a-sobrenos">Sobre nós</a>
                    </li>
                    <li>
                        <a href="#depoimentos">Depoimentos</a>
                    </li>
                    <li>
                        <a href="#contatos">Contatos</a>
                    </li>
                </ul>
                <img class="hamburguer-icon" id="hamburguer-icon" src="{% static 'icons/bars.svg' %}">
            </div>
            <ul class="hamburguer-opcoes" id="hamburguer-opcoes">
                <li>
                    <a href="#servico">Serviços</a>
                </li>
                <li>
                    <a href="#sobre-nos">Sobre nós</a>
                </li>
                <li>
                    <a href="#depoimentos">Depoimentos</a>
                </li>
                <li>
                    <a href="#contatos">Contatos</a>
                </li>
            </ul>
        </nav>
        <div id="banner">
            <div class="banner-fundo">
                <div class="banner-coluna1"></div>
                <div class="banner-coluna2">
                    <div class="banner-botao">
                        <div class="textobotao" title="Entre em contanto conosco">
                            <a href="#contatos"> Fale Conosco! </a>
                        </div>
                    </div>
                </div>
                <div class="banner-coluna3">
                    <a href="#servico">
                        <img class="banner-seta" src="/static/icons/Seta-Branca.svg">
                    </a>
                </div>
            </div>
        </div>
        <div id="servico" class="servico">
            <div class="titulo">
                <h1>Serviços</h1>
                <hr class='titulo-linha'>
            </div>
            <div id="carrossel">
                <!-- {{ Carrossel }} -->
                <!-- O conteúdo dessa div será gerado via js de acordo com o conteúdo do sheets -->
            </div>
        </div>
        <div id="sobre-nos">
            <div class="titulo">
                <h1>Sobre nós</h1>
                <hr class='titulo-linha'>
            </div>
            <div id="mvv">
                <div class="mvv-flex">
                    <img class="mvv-img" src="{% static 'icons/Missão.svg' %}">
                    <h3 class="mvv-titulo">Missão</h3>
                    <hr class="mvv-linha">
                    <p class="mvv-descricao">Texto contendo a missão da empresa, texto contendo a visão da empresa, texto contendo a visão da empresa,
                        texto contendo a visão da empresa, texto.</p>
                </div>
                <div class="mvv-flex" id="mvv-visao">
                    <img class="mvv-img" src="{% static 'icons/Visão.svg' %}">
                    <h3 class="mvv-titulo">Visão</h3>
                    <hr class="mvv-linha">
                    <p class="mvv-descricao">Texto contendo a visão da empresa, Texto contendo a visão da empresa, texto contendo a visão da empresa.
                        texto contendo a visão da empresa, texto contendo.</p>
                </div>
                <div class="mvv-flex">
                    <img class="mvv-img" src="{% static 'icons/Valor.svg' %}">
                    <h3 class="mvv-titulo">Valores</h3>
                    <hr class="mvv-linha">
                    <p class="mvv-descricao">Texto contendo os valores da empresa, texto contendo os valores da empresa, texto contendo os valores
                        da empresa, texto contendo os valores da empresa.</p>
                </div>
            </div>
            <div id="nossa-historia">
                <div id="nossa-historia-texto">
                    <h3 id="nossa-historia-titulo">Nossa História</h3>
                    <p id="nossa-historia-descricao">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus obortis condimentum.
                        Aliquam nonummy uctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada
                        fam ac turpis egestas. Nulla at risus. Quisqu purus magna. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum."</p>
                </div>
                <div id="nossa-historia-img">
                    <img src="{% static 'image/Contato2.jpg' %}">
                </div>
            </div>
        </div>
        <div id="depoimentos">
            <div class="titulo">
                <h1>Depoimentos</h1>
                <hr class='titulo-linha'>
            </div>
            <div id="carrossel-depoimentos">
                <div class="card-depoimento">
                    <div class="img-depoimento"></div>
                    <div class="conteudo-depoimento">
                        <div class="texto-depoimento">
                            <div class="quotes-depoimento">
                                <img src="{% static 'image/quotes.png' %}" alt="quotes">
                            </div>
                            <div class="inner-texto-depoimento">Aqui vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo;</div>
                            <div class="nome-depoimento">Robert Charles</div>
                            <div>Advogado</div>
                        </div>
                    </div>
                </div>
                <div class="card-depoimento">
                    <div class="img-depoimento"></div>
                    <div class="conteudo-depoimento">
                        <div class="texto-depoimento">
                            <div class="quotes-depoimento">
                                <img src="{% static 'image/quotes.png' %}" alt="quotes">
                            </div>
                            <div class="inner-texto-depoimento">Aqui vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo;</div>
                            <div class="nome-depoimento">Robert Charles</div>
                            <div>Advogado</div>
                        </div>
                    </div>
                </div>
                <div class="card-depoimento">
                    <div class="img-depoimento"></div>
                    <div class="conteudo-depoimento">
                        <div class="texto-depoimento">
                            <div class="quotes-depoimento">
                                <img src="{% static 'image/quotes.png' %}" alt="quotes">
                            </div>
                            <div class="inner-texto-depoimento">Aqui vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo;</div>
                            <div class="nome-depoimento">Robert Charles</div>
                            <div>Advogado</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contatos">
            <div class="coluna-contato" style="background-image:url('/static/image/contato3.jpg')">
                <div class="titulo-contato">
                    <h1>Contato</h1>
                    <hr class='titulo-linha-contato'>
                </div>
                <form action="" method="post">
                    {% csrf_token %} {{ form }}
                    </br>
                    <input type="submit" value="Enviar">
                </form>
        </div>
        </div>
        <div id="footer">
            <div id="footer-flex">
                <div id="footer-img">
                    <img src="{% static 'image/Logo - Banner.png' %}">
                </div>
                <div id="footer-redes-sociais">
                    <div class="footer-redes-sociais-flex" id="footer-facebook" onclick="website('https://www.facebook.com/VirtuPolitica/')">
                        <img src="{% static 'icons/Facebook - logo.svg' %}">
                        <div class="footer-redes-sociais-descricao">
                            <h5>Facebook</h5>
                            <p>/VirtuPolitica</p>
                        </div>
                    </div>
                    <div class="footer-redes-sociais-flex" id="footer-instagram" onclick="website('https://www.instagram.com/virtupolitica/')">
                        <img src="{% static 'icons/instagram - logo.svg' %}">
                        <div class="footer-redes-sociais-descricao">
                            <h5>Instagram</h5>
                            <p>@VirtuPolitica</p>
                        </div>
                    </div>
                </div>
                <div id="footer-contatos">
                    <div class="footer-contatos-flex" id="footer-map" onclick="website('https://www.google.com/maps/search/ufpe/@-8.0522667,-34.9548744,16z/data=!3m1!4b1')">
                        <img src="{% static 'icons/map.svg' %}">
                        <h5>Av. Professor Luiz Freire, Cidade Universitaria, CFCH, Recife - PE</h5>
                    </div>
                    <div id="map" class="gmap"></div>
                    <div class="footer-contatos-flex">
                        <img src="{% static 'icons/telefone.svg' %}">
                        <h5>(81) 9999-9999</h5>
                    </div>
                    <div class="footer-contatos-flex" id="footer-mail">
                        <img src="{% static 'icons/email.svg' %}">
                        <h5>VirtuConsultoria@gmail.com</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnuNBEV_fCeJxtczbPmrH5Sn9pV_9SYvc&callback=initMap"></script>
</body>

</html>