{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121589376-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-121589376-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery-mask/src/jquery.mask.js' %}"></script>
    <link rel="shortcut icon" href="/static/image/icone.png" />
    <title>Virtù Consultoria</title>
</head>

<body>
    <div id="main">
        <nav id="navbar">
            <div id="navbar-flex">
                <div id="navbar-img">
                    <a href="#banner">
                        <img src="{% static 'image/Logo.png' %}" id="logovirtu">
                    </a>
                    <div id="banner-text">
                        Consultoria Política
                    </div>
                </div>
                <ul class="navbar-opcoes">
                    <li>
                        <a href="#servico" id="navbar-a-servico">Serviços</a>
                    </li>
                    <li>
                        <a href="#sobre-nos" id="navbar-a-sobrenos">Sobre nós</a>
                    </li>
                    <li>
                        <a href="#depoimentos" id="navbar-a-depoimentos">Depoimentos</a>
                    </li>
                    <li>
                        <a href="#contatos" id="navbar-a-contatos">Contatos</a>
                    </li>
                    <li>
                        <a onclick="website('https://www.facebook.com/VirtuPolitica/')">
                            <img src="{% static 'icons/Facebook - logo.svg' %}" class="navbar-redes-sociais">
                        </a>
                    </li>
                    <li>
                        <a onclick="website('https://www.instagram.com/VirtuPolitica/')">
                            <img src="{% static 'icons/Instagram - logo.svg' %}" class="navbar-redes-sociais">
                        </a>
                    </li>
                </ul>
                <img class="hamburguer-icon" id="hamburguer-icon" src="{% static 'icons/bars.svg' %}">
            </div>
            <ul class="hamburguer-opcoes" id="hamburguer-opcoes">
                <li>
                    <a href="#servico">Serviços</a>
                </li>
                <li>
                    <a href="#sobre-nos">Sobre nós</a>
                </li>
                <li>
                    <a href="#depoimentos">Depoimentos</a>
                </li>
                <li>
                    <a href="#contatos">Contatos</a>
                </li>
            </ul>
        </nav>
        <div id="banner">
            <div class="banner-fundo">
                <div class="banner-coluna1"></div>
                <div class="banner-coluna2">
                    <div class="banner-botao">
                        <div class="textobotao" title="Entre em contanto conosco">
                            <a href="#contatos"> Fale Conosco! </a>
                        </div>
                    </div>
                </div>
                <div class="banner-coluna3">
                    <a href="#servico">
                        <img class="banner-seta" src="/static/icons/Seta-Branca.svg">
                    </a>
                </div>
            </div>
        </div>
        <div id="servico" class="servico">
            <div class="titulo">
                <h1>Serviços</h1>
                <hr class='titulo-linha'>
            </div>
            <div id="carrossel">
                <!-- {{ Carrossel }} -->
                <!-- O conteúdo dessa div será gerado via js de acordo com o conteúdo do sheets -->
            </div>
        </div>
        <div id="sobre-nos">
            <div class="titulo">
                <h1>Sobre nós</h1>
                <hr class='titulo-linha'>
            </div>
            <div id="mvv">
                <div class="mvv-flex">
                    <img class="mvv-img" src="{% static 'icons/Missão.svg' %}">
                    <h3 class="mvv-titulo">Missão</h3>
                    <hr class="mvv-linha">
                    <p class="mvv-descricao">​Realizar projetos de excelência para nossos clientes e capacitar estudantes de Ciência Política para
                        atuação profissional dentro do mercado</p>
                </div>
                <div class="mvv-flex" id="mvv-visao">
                    <img class="mvv-img" src="{% static 'icons/Visão.svg' %}">
                    <h3 class="mvv-titulo">Visão</h3>
                    <hr class="mvv-linha">
                    <p class="mvv-descricao">​Ser mais reconhecida no âmbito político estadual como empresa de referência</p>
                </div>
                <div class="mvv-flex">
                    <img class="mvv-img" src="{% static 'icons/Valor.svg' %}">
                    <h3 class="mvv-titulo">Valores</h3>
                    <hr class="mvv-linha">
                    <p class="mvv-descricao">​Empreender: Ser a Virtù</br>Horizontalidade: juntos crescemos mais</br>Procure, aprenda, dedique-se</br>Transparência,
                        uma moral democrática a ser vivida.</p>
                </div>
            </div>
            <div id="nossa-historia">
                <div id="nossa-historia-texto">
                    <h3 id="nossa-historia-titulo">Nossa História</h3>
                    <p id="nossa-historia-descricao">"Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa. Aqui vai a história da empresa."</p>
                </div>
                <div id="nossa-historia-img">
                    <img src="{% static 'image/cfch.jpg' %}">
                </div>
            </div>
        </div>
        <div id="depoimentos">
            <div class="titulo">
                <h1>Depoimentos</h1>
                <hr class='titulo-linha'>
            </div>
            <div id="carrossel-depoimentos">
                <div class="card-depoimento">
                    <div class="img-depoimento" style="background-image: url('/static/image/Depoimento1.png')"></div>
                    <div class="conteudo-depoimento">
                        <div class="texto-depoimento">
                            <div class="quotes-depoimento">
                                <img src="{% static 'image/quotes.png' %}" alt="quotes">
                            </div>
                            <div class="inner-texto-depoimento">Aqui vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo;</div>
                            <div class="nome-depoimento">Robert Charles</div>
                            <div>Advogado</div>
                        </div>
                    </div>
                </div>
                <div class="card-depoimento">
                    <div class="img-depoimento" style="background-image: url('/static/image/Depoimento2.jpg')"></div>
                    <div class="conteudo-depoimento">
                        <div class="texto-depoimento">
                            <div class="quotes-depoimento">
                                <img src="{% static 'image/quotes.png' %}" alt="quotes">
                            </div>
                            <div class="inner-texto-depoimento">Aqui vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo;</div>
                            <div class="nome-depoimento">Robert Charles</div>
                            <div>Advogado</div>
                        </div>
                    </div>
                </div>
                <div class="card-depoimento">
                    <div class="img-depoimento" style="background-image: url('/static/image/Depoimento3.jpg')"></div>
                    <div class="conteudo-depoimento">
                        <div class="texto-depoimento">
                            <div class="quotes-depoimento">
                                <img src="{% static 'image/quotes.png' %}" alt="quotes">
                            </div>
                            <div class="inner-texto-depoimento">Aqui vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo; Aqui vai um comentário de um cliente antigo; Aqui
                                vai um comentário de um cliente antigo;</div>
                            <div class="nome-depoimento">Robert Charles</div>
                            <div>Advogado</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contatos">
            <div class="coluna-contato" style="background-image:url('/static/image/Contato.jpg')">
                <div class="titulo-contato">
                    <h1>Contato</h1>
                    <hr class='titulo-linha-contato'>
                </div>
                <form action="" method="post">
                    {% csrf_token %} {{ form }}
                    </br>
                    <span id="emailErro">Email inválido</span>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
        <div id="footer">
            <div id="footer-flex">
                <div id="footer-img">
                    <img src="{% static 'image/Logo - Banner.png' %}">
                </div>
                <div id="footer-redes-sociais">
                    <div class="footer-redes-sociais-flex" id="footer-facebook-div" onclick="website('https://www.facebook.com/VirtuPolitica/')">
                        <i class="fab fa-facebook-f" id="footer-facebook"></i>
                        <div class="footer-redes-sociais-descricao">
                            <h5>Facebook</h5>
                            <p>/VirtuPolitica</p>
                        </div>
                    </div>
                    <div class="footer-redes-sociais-flex" id="footer-instagram-div" onclick="website('https://www.instagram.com/virtupolitica/')">
                        <i class="fab fa-instagram" id="footer-instagram"></i>
                        <div class="footer-redes-sociais-descricao">
                            <h5>Instagram</h5>
                            <p>@VirtuPolitica</p>
                        </div>
                    </div>
                </div>
                <div id="footer-contatos">
                    <div class="footer-contatos-flex" id="footer-map" onclick="website('https://www.google.com/maps/place/CFCH+-+Centro+de+Filosofia+e+Ci%C3%AAncias+Humanas+-+UFPE/@-8.0499458,-34.9558223,17.25z/data=!4m5!3m4!1s0x7ab1be0820f8593:0x35cb0d50f1da929d!8m2!3d-8.0499165!4d-34.9539494')">
                        <i class="fas fa-map-marker-alt"></i>
                        <h5>Av. Professor Luiz Freire, Cidade Universitaria, CFCH, Recife - PE</h5>
                    </div>
                    <div id="map" class="gmap"></div>
                    <div class="footer-contatos-flex">
                        <i class="fas fa-phone"></i>
                        <h5>(81) 9999-9999</h5>
                    </div>
                    <div class="footer-contatos-flex" id="footer-mail">
                        <i class="far fa-envelope"></i>
                        <h5>VirtuConsultoria@gmail.com</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="bar">
            <div id="bar-flex">
                <div>© 2018 CITi - Todos os direitos reservados</div>
                <div class="madewith">
                    <div id="bar-made-with">Made with
                        <i class="fa fa-code"></i> and
                        <i class="far fa-heart" id="coracao"></i>
                    </div>
                </div>
                </span>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1gLTafZSCRoC8jSJaw4vJA-IoJCHItkQ&callback=initMap"></script>
</body>

</html>